body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.archery {
    background-color: red;
    /* min-width: 30vw;
    min-height: 30vw; */
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  
  .circle1 {
    background-color: green;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle2 {
    background-color: blue;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle3 {
    background-color: black;
    width: 25%;
    height: 25%;
    border-radius: 50%;
  }